In [104]:
import pandas as pd

In [105]:
#importing table of just the preliminary set of columns I think I might be interested in (cleaned up from original in SQL)

column_names_ids = pd.read_csv('..\data\safegraph_open_census_data\metadata\meta_data_working.csv')
column_names_ids.head()

      table_id                                    field_full_name
0  B02001e1     RACE: Total: Total population -- (Estimate)   ...
1  B02001e10    RACE: Two or more races: Two races excluding S...
2  B02001e2     RACE: White alone: Total population -- (Estima...
3  B02001e3     RACE: Black or African American alone: Total p...
4  B02001e4     RACE: American Indian and Alaska Native alone:...

In [106]:
test = pd.read_csv('..\data\safegraph_open_census_data\data\cbg_b25.csv')
test.shape

(220333, 1739)

In [107]:
#creating a list of all the csvs I need based on the table_id information

column_names = []

for index, rows in column_names_ids.iterrows():
    
    column_list = ('cbg_' + rows.table_id[0:3] + '.csv')
    
    column_names.append(column_list)
    
print(column_names)

['cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B02.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B03.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B19.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv', 'cbg_B25.csv']

In [108]:
#getting rid of duplicates

column_names_fin = list(set(column_names))
print(column_names_fin)

['cbg_B25.csv', 'cbg_B03.csv', 'cbg_B19.csv', 'cbg_B02.csv']

In [109]:
#importing relevant csvs and putting them together in one df

csvs = []
for i in column_names_fin:
    csvs.append(pd.read_csv('..\data\safegraph_open_census_data\data\\' + i))

demographics = pd.concat(csvs, axis = 1)

demographics.head()

,census_block_group,B25001e1,B25001m1,B25002e1,B25002m1,B25002e2,B25002m2,B25002e3,B25002m3,B25003e1,...,C02003e15,C02003m15,C02003e16,C02003m16,C02003e17,C02003m17,C02003e18,C02003m18,C02003e19,C02003m19
0,10010201001,284,53,284,53,284,53,0,11,284,...,0,11,0,11,0,11,0,11,0,11
1,10010201002,467,62,467,62,456,64,11,17,456,...,8,14,0,11,21,33,0,11,0,11
2,10010202001,398,80,398,80,386,78,12,18,386,...,18,30,0,11,0,11,0,11,0,11
3,10010202002,492,91,492,91,452,85,40,42,452,...,0,11,0,11,0,11,0,11,0,11
4,10010203001,1023,92,1023,92,824,108,199,98,824,...,5,10,0,11,56,95,0,11,0,11

In [110]:
#all of the columns I need from this df

column_names_ids = column_names_ids['table_id'], 'census_block_group'

In [111]:
#taking of spaces at the end of column names

cleaned_col_names = [col_name.strip() for col_name in column_names_ids['table_id']]

TypeError: tuple indices must be integers or slices, not str

In [ ]:
#keeping only columns I need

demographics2 = demographics[cleaned_col_names]
demographics2.head()

In [ ]:
#creating a list of descriptive column names for replacement

column_headers = []

for index, rows in column_names_ids.iterrows():
    
    column_headers_list = (rows.field_full_name)
    
    column_headers.append(column_headers_list)
    
print(column_headers)

In [ ]:
#matching up columns with their descriptive names

demographics2.columns = [column_headers]
demographics2.head()

In [ ]:
demographics2.shape

In [ ]:
#initial drop of Margin of Error columns

demog2 = demographics2[demographics2.columns.drop(list(demographics2.filter(regex='Margin of Error')))]
demog2.shape

In [ ]:
demog2.columns

In [ ]:
#look at new columns, getting rid of weird extra nothing after comma

clean_cols = [col[0].rstrip() for col in demog2.columns]

In [ ]:
#reassigning column names to cleaned up version

demog2.columns = clean_cols

In [ ]:
block_number = demographics

In [113]:
new_race = pd.concat([demog2, demographics])
new_race.head()

MemoryError: Unable to allocate 3.09 GiB for an array with shape (1880, 220333) and data type int64

In [ ]:
#picking just columns I want for race df

demog_race = demog2[['census_block_group',
                     'RACE: Total: Total population -- (Estimate)', 
                     'RACE: Two or more races: Two races excluding Some other race, and three or more races: Total population -- (Estimate)',
                     'RACE: White alone: Total population -- (Estimate)','RACE: Black or African American alone: Total population -- (Estimate)',
                     'RACE: American Indian and Alaska Native alone: Total population -- (Estimate)',
                     'RACE: Asian alone: Total population -- (Estimate)',
                     'RACE: Native Hawaiian and Other Pacific Islander alone: Total population -- (Estimate)',
                     'RACE: Some other race alone: Total population -- (Estimate)',
                     'RACE: Two or more races: Total population -- (Estimate)',
                     'RACE: Two or more races: Two races including Some other race: Total population -- (Estimate)',
                     'HISPANIC OR LATINO ORIGIN BY RACE: Hispanic or Latino: Total population -- (Estimate)',
                     'HISPANIC OR LATINO ORIGIN BY RACE: Hispanic or Latino: White alone: Total population -- (Estimate)']]
demog_race.head()

In [ ]:
#renaming columns

demog_race = demog_race.rename(columns={'RACE: Total: Total population -- (Estimate)': 'total_block_pop', 
                                        'RACE: Two or more races: Two races excluding Some other race, and three or more races: Total population -- (Estimate)': 'two+_1',
                                        'RACE: White alone: Total population -- (Estimate)': 'white',
                                        'RACE: Black or African American alone: Total population -- (Estimate)': 'black',
                                        'RACE: American Indian and Alaska Native alone: Total population -- (Estimate)': 'native_american_/_alaskan_native',
                                        'RACE: Asian alone: Total population -- (Estimate)': 'asian',
                                        'RACE: Native Hawaiian and Other Pacific Islander alone: Total population -- (Estimate)': 'pacific_islander_/_native_hawaiian',
                                        'RACE: Some other race alone: Total population -- (Estimate)': 'other',
                                        'RACE: Two or more races: Total population -- (Estimate)': 'two+_2',
                                        'RACE: Two or more races: Two races including Some other race: Total population -- (Estimate)': 'two+_3',
                                        'HISPANIC OR LATINO ORIGIN BY RACE: Hispanic or Latino: Total population -- (Estimate)': 'hispanic',
                                        'HISPANIC OR LATINO ORIGIN BY RACE: Hispanic or Latino: White alone: Total population -- (Estimate)': 'hispanic - white'})

demog_race.head()

In [ ]:
#upon further evaluation, a couple coulmns were not necessary

demog_race = demog_race.drop(['two+_1', 'two+_3'], axis=1)
demog_race.head()

In [ ]:
demog_race = demog_race.rename(columns = {'two+_2': 'more_than_one_race'})
demog_race.head()

In [ ]:
#adding percentages. important to note that 'non-white' might not equal up to the other minorities because we're tacking on
#all of the times people identify as both hispanic and white. 

demog_race['%white'] = demog_race['white'] / demog_race['total_block_pop']
demog_race['%black'] = demog_race['black'] / demog_race['total_block_pop']
demog_race['%hisp'] = demog_race['hispanic'] / demog_race['total_block_pop']
demog_race['%non-white'] = (demog_race['total_block_pop'] - demog_race['white'] + demog_race['hispanic - white']) / demog_race['total_block_pop']

demog_race.head()

In [ ]:
demog_income = demog2[['HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $200,000 or more: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): Less than $10,000: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $10,000 to $14,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): Total: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $45,000 to $49,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $50,000 to $59,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $60,000 to $74,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $75,000 to $99,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $100,000 to $124,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $125,000 to $149,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $150,000 to $199,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $15,000 to $19,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $20,000 to $24,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $25,000 to $29,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $30,000 to $34,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $35,000 to $39,999: Households -- (Estimate)',
                       'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $40,000 to $44,999: Households -- (Estimate)']]
demog_income.head()

In [ ]:
#beautifying

demog_income = demog_income.rename(columns = {'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $200,000 or more: Households -- (Estimate)': 'hh_income_200,000+',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): Less than $10,000: Households -- (Estimate)': 'hh_income_<10,000',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $10,000 to $14,999: Households -- (Estimate)': 'hh_income_10,000-14,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): Total: Households -- (Estimate)': 'total_households',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $45,000 to $49,999: Households -- (Estimate)': 'hh_income_45,000-49,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $50,000 to $59,999: Households -- (Estimate)': 'hh_income_50,000-59,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $60,000 to $74,999: Households -- (Estimate)': 'hh_income_60,000-74,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $75,000 to $99,999: Households -- (Estimate)': 'hh_income_75,000-99,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $100,000 to $124,999: Households -- (Estimate)': 'hh_income_100,000-124,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $125,000 to $149,999: Households -- (Estimate)': 'hh_income_125,000-149,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $150,000 to $199,999: Households -- (Estimate)': 'hh_income_150,000-199,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $15,000 to $19,999: Households -- (Estimate)': 'hh_income_15,000-19,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $20,000 to $24,999: Households -- (Estimate)': 'hh_income_20,000-24,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $25,000 to $29,999: Households -- (Estimate)': 'hh_income_25,000-29,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $30,000 to $34,999: Households -- (Estimate)': 'hh_income_30,000-34,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $35,000 to $39,999: Households -- (Estimate)': 'hh_income_35,000-39,999',
                                             'HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS): $40,000 to $44,999: Households -- (Estimate)': 'hh_income_40,000-44,999'})
demog_income = demog_income[['total_households', 
                             'hh_income_<10,000',
                             'hh_income_10,000-14,999', 
                             'hh_income_15,000-19,999',
                             'hh_income_20,000-24,999',
                             'hh_income_25,000-29,999',
                             'hh_income_30,000-34,999',
                             'hh_income_35,000-39,999',
                             'hh_income_40,000-44,999',
                             'hh_income_45,000-49,999',
                             'hh_income_50,000-59,999',
                             'hh_income_60,000-74,999',
                             'hh_income_75,000-99,999',
                             'hh_income_100,000-124,999',
                             'hh_income_125,000-149,999',
                             'hh_income_150,000-199,999',
                             'hh_income_200,000+']]

demog_income.head()

In [ ]:
demog_race.to_csv('..\data\census_data_race.csv')
demog_income.to_csv('..\data\census_data_income.csv')