In [3]:
import pandas as pd
import geopandas as gpd

In [4]:
geometry = gpd.read_file('../data/safegraph_open_census_data/geometry/cbg.geojson')

In [57]:
print(geometry.crs)

epsg:4326

In [59]:
geometry.crs = "EPSG:4326"
print(geometry.crs)

EPSG:4326

In [60]:
geometry.head()

,StateFIPS,CountyFIPS,TractCode,BlockGroup,CensusBlockGroup,State,County,ClassCode,geometry
0,01,081,041600,1,010810416001,AL,Lee County,H1,"MULTIPOLYGON (((-85.37282 32.63424, -85.37275 ..."
1,01,081,041600,2,010810416002,AL,Lee County,H1,"MULTIPOLYGON (((-85.38346 32.64838, -85.38301 ..."
2,01,081,041700,4,010810417004,AL,Lee County,H1,"MULTIPOLYGON (((-85.37139 32.60139, -85.37138 ..."
3,01,073,011107,4,010730111074,AL,Jefferson County,H1,"MULTIPOLYGON (((-86.64797 33.59205, -86.64771 ..."
4,01,073,011108,4,010730111084,AL,Jefferson County,H1,"MULTIPOLYGON (((-86.65206 33.59869, -86.65204 ..."

In [61]:
per_cap = pd.read_csv('../data/census_data_income_per_cap_2.csv').drop('Unnamed: 0', axis = 1)

In [62]:
per_cap.tail()

        census_block_group  income_per_cap
220328        721537506011          5234.0
220329        721537506012          9036.0
220330        721537506013         15248.0
220331        721537506021          4997.0
220332        721537506022          5330.0

In [63]:
per_cap.shape

(220333, 2)

In [64]:
geometry.dtypes

StateFIPS             object
CountyFIPS            object
TractCode             object
BlockGroup            object
CensusBlockGroup      object
State                 object
County                object
ClassCode             object
geometry            geometry
dtype: object

In [65]:
per_cap.dtypes

census_block_group      int64
income_per_cap        float64
dtype: object

In [66]:
geometry.CensusBlockGroup = geometry.CensusBlockGroup.astype(str)
geometry.shape

(220333, 9)

In [67]:
geometry.head()

,StateFIPS,CountyFIPS,TractCode,BlockGroup,CensusBlockGroup,State,County,ClassCode,geometry
0,01,081,041600,1,010810416001,AL,Lee County,H1,"MULTIPOLYGON (((-85.37282 32.63424, -85.37275 ..."
1,01,081,041600,2,010810416002,AL,Lee County,H1,"MULTIPOLYGON (((-85.38346 32.64838, -85.38301 ..."
2,01,081,041700,4,010810417004,AL,Lee County,H1,"MULTIPOLYGON (((-85.37139 32.60139, -85.37138 ..."
3,01,073,011107,4,010730111074,AL,Jefferson County,H1,"MULTIPOLYGON (((-86.64797 33.59205, -86.64771 ..."
4,01,073,011108,4,010730111084,AL,Jefferson County,H1,"MULTIPOLYGON (((-86.65206 33.59869, -86.65204 ..."

In [68]:
per_cap.census_block_group = per_cap.census_block_group.astype(str)
per_cap.head()

  census_block_group  income_per_cap
0        10010201001         20365.0
1        10010201002         33336.0
2        10010202001         17047.0
3        10010202002         21400.0
4        10010203001         23106.0

In [69]:
geo_per_cap = pd.merge(per_cap, geometry, left_on='census_block_group', right_on='CensusBlockGroup')
geo_per_cap.head()

,census_block_group,income_per_cap,StateFIPS,CountyFIPS,TractCode,BlockGroup,CensusBlockGroup,State,County,ClassCode,geometry
0,100010401001,24302.0,10,001,040100,1,100010401001,DE,Kent County,H1,"MULTIPOLYGON (((-75.76002 39.29682, -75.75626 ..."
1,100010401002,27198.0,10,001,040100,2,100010401002,DE,Kent County,H1,"MULTIPOLYGON (((-75.75697 39.25807, -75.75652 ..."
2,100010401003,26313.0,10,001,040100,3,100010401003,DE,Kent County,H1,"MULTIPOLYGON (((-75.74623 39.20031, -75.74605 ..."
3,100010402011,24056.0,10,001,040201,1,100010402011,DE,Kent County,H1,"MULTIPOLYGON (((-75.66581 39.29057, -75.66547 ..."
4,100010402012,27699.0,10,001,040201,2,100010402012,DE,Kent County,H1,"MULTIPOLYGON (((-75.62432 39.29380, -75.62427 ..."

In [70]:
geo_per_cap.shape

(180707, 11)

In [71]:
TN = geo_per_cap.loc[geo_per_cap['State'] == 'TN']
TN.shape

(4125, 11)

In [72]:
Davidson_per_cap = TN.loc[TN['County'] == 'Davidson County']
Davidson_per_cap.shape

(473, 11)

In [73]:
TN_test = geometry.loc[geometry['State'] == 'TN']
TN_test.shape

(4125, 9)

In [74]:
Davidson_test = TN_test.loc[TN_test['County'] == 'Davidson County']
Davidson_test.shape

(473, 9)

In [75]:
Davidson_per_cap.head()

,census_block_group,income_per_cap,StateFIPS,CountyFIPS,TractCode,BlockGroup,CensusBlockGroup,State,County,ClassCode,geometry
139858,470370101031,35527.0,47,037,010103,1,470370101031,TN,Davidson County,H6,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
139859,470370101032,30055.0,47,037,010103,2,470370101032,TN,Davidson County,H6,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ..."
139860,470370101041,33533.0,47,037,010104,1,470370101041,TN,Davidson County,H6,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ..."
139861,470370101042,28406.0,47,037,010104,2,470370101042,TN,Davidson County,H6,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."
139862,470370101051,27498.0,47,037,010105,1,470370101051,TN,Davidson County,H6,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ..."

In [76]:
Davidson_per_cap = Davidson_per_cap[['census_block_group',
                                     'income_per_cap',
                                     'State',
                                     'County',
                                     'geometry']]

Davidson_per_cap.head()

,census_block_group,income_per_cap,State,County,geometry
139858,470370101031,35527.0,TN,Davidson County,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
139859,470370101032,30055.0,TN,Davidson County,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ..."
139860,470370101041,33533.0,TN,Davidson County,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ..."
139861,470370101042,28406.0,TN,Davidson County,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."
139862,470370101051,27498.0,TN,Davidson County,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ..."

In [77]:
Davidson_per_cap = Davidson_per_cap.rename(columns={'State': 'state',
                                                    'County': 'county'})
Davidson_per_cap.head(20)

,census_block_group,income_per_cap,state,county,geometry
139858,470370101031,35527.0,TN,Davidson County,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
139859,470370101032,30055.0,TN,Davidson County,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ..."
139860,470370101041,33533.0,TN,Davidson County,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ..."
139861,470370101042,28406.0,TN,Davidson County,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."
139862,470370101051,27498.0,TN,Davidson County,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ..."
139863,470370101052,29534.0,TN,Davidson County,"MULTIPOLYGON (((-86.89144 36.26205, -86.89100 ..."
139864,470370101053,24254.0,TN,Davidson County,"MULTIPOLYGON (((-86.83820 36.22363, -86.83819 ..."
139865,470370101054,20644.0,TN,Davidson County,"MULTIPOLYGON (((-86.82897 36.22033, -86.82895 ..."
139866,470370101061,21403.0,TN,Davidson County,"MULTIPOLYGON (((-86.83089 36.26570, -86.83016 ..."
139867,470370101062,16564.0,TN,Davidson County,"MULTIPOLYGON (((-86.81693 36.23618, -86.81609 ..."
139868,470370102011,24800.0,TN,Davidson County,"MULTIPOLYGON (((-86.81736 36.27398, -86.81733 ..."
139869,470370102012,36108.0,TN,Davidson County,"MULTIPOLYGON (((-86.78544 36.28307, -86.78540 ..."
139870,470370102013,26655.0,TN,Davidson County,"MULTIPOLYGON (((-86.75534 36.26998, -86.75503 ..."
139871,470370102021,35071.0,TN,Davidson County,"MULTIPOLYGON (((-86.82482 36.33225, -86.82480 ..."
139872,470370102022,30481.0,TN,Davidson County,"MULTIPOLYGON (((-86.82417 36.35041, -86.82416 ..."
139873,470370102023,29051.0,TN,Davidson County,"MULTIPOLYGON (((-86.77483 36.33348, -86.77421 ..."
139874,470370103011,24637.0,TN,Davidson County,"MULTIPOLYGON (((-86.73575 36.33283, -86.73541 ..."
139875,470370103012,24983.0,TN,Davidson County,"MULTIPOLYGON (((-86.74132 36.29354, -86.74119 ..."
139876,470370103021,18623.0,TN,Davidson County,"MULTIPOLYGON (((-86.72469 36.29682, -86.72452 ..."
139877,470370103022,21771.0,TN,Davidson County,"MULTIPOLYGON (((-86.71781 36.33898, -86.71777 ..."

In [78]:
Davidson_per_cap.shape

(473, 5)

In [85]:
Davidson_per_cap_gdf = gpd.GeoDataFrame(Davidson_per_cap, geometry='geometry')

In [87]:
Davidson_per_cap_gdf.to_file('../data/final_data/davidson_per_cap.geojson', driver = 'GeoJSON')