In [50]:
import pandas as pd
import geopandas as gpd
import requests
from shapely.geometry import Point
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [20]:
per_cap = gpd.read_file('../data/final_data/davidson_per_cap.geojson')
race = gpd.read_file('../data/final_data/davidson_race.geojson')
income = gpd.read_file('../data/final_data/davidson_income.geojson')
elem = gpd.read_file('../data/final_data/elem_zones_scores_gdf.geojson')
middle = gpd.read_file('../data/final_data/middle_zones_scores_gdf.geojson')
high = gpd.read_file('../data/final_data/high_zones_scores_gdf.geojson')

In [21]:
elem_middle = gpd.sjoin(elem, middle, op = 'intersects')
elem_middle.head(2)

,school_left,achievement_score_left,growth_score_left,chronically_out_of_school_score_left,geometry,index_right,school_right,achievement_score_right,growth_score_right,chronically_out_of_school_score_right
0,A. Z. Kelley Elementary School,2.0,2.0,4.0,"POLYGON ((-86.66919 36.05125, -86.66714 36.050...",0,Antioch Middle School,1.0,2.0,4.0
5,Cane Ridge Elementary School,3.0,4.0,4.0,"POLYGON ((-86.64007 36.07600, -86.63956 36.075...",0,Antioch Middle School,1.0,2.0,4.0

In [22]:
elem_middle.shape

(276, 10)

In [23]:
elem_middle = elem_middle.rename(columns={'school_left': 'elem_school', 
                                          'achievement_score_left': 'elem_achievement_score',
                                          'growth_score_left': 'elem_growth_score',
                                          'chronically_out_of_school_score_left': 'elem_chronically_out_of_school_score',
                                          'school_right': 'middle_school', 
                                          'achievement_score_right': 'middle_achievement_score',
                                          'growth_score_right': 'middle_growth_score',
                                          'chronically_out_of_school_score_right': 'middle_chronically_out_of_school_score'})

elem_middle = elem_middle[elem_middle.columns.drop('index_right')]

elem_middle.head()

,elem_school,elem_achievement_score,elem_growth_score,elem_chronically_out_of_school_score,geometry,middle_school,middle_achievement_score,middle_growth_score,middle_chronically_out_of_school_score
0,A. Z. Kelley Elementary School,2.0,2.0,4.0,"POLYGON ((-86.66919 36.05125, -86.66714 36.050...",Antioch Middle School,1.0,2.0,4.0
5,Cane Ridge Elementary School,3.0,4.0,4.0,"POLYGON ((-86.64007 36.07600, -86.63956 36.075...",Antioch Middle School,1.0,2.0,4.0
9,Cole Elementary School,2.0,2.0,4.0,"POLYGON ((-86.70404 36.04982, -86.70405 36.049...",Antioch Middle School,1.0,2.0,4.0
15,Eagle View Elementary School,NaN,4.0,NaN,"POLYGON ((-86.65114 36.07064, -86.65102 36.070...",Antioch Middle School,1.0,2.0,4.0
17,Edison Elementary School,2.0,4.0,4.0,"POLYGON ((-86.61819 36.07339, -86.61794 36.073...",Antioch Middle School,1.0,2.0,4.0

In [24]:
schools = gpd.sjoin(elem_middle, high, op = 'intersects')
schools.head()

,elem_school,elem_achievement_score,elem_growth_score,elem_chronically_out_of_school_score,geometry,middle_school,middle_achievement_score,middle_growth_score,middle_chronically_out_of_school_score,index_right,school,achievement_score,growth_score,chronically_out_of_school_score
0,A. Z. Kelley Elementary School,2.0,2.0,4.0,"POLYGON ((-86.66919 36.05125, -86.66714 36.050...",Antioch Middle School,1.0,2.0,4.0,1,Cane Ridge High School,1.0,0.0,3.0
5,Cane Ridge Elementary School,3.0,4.0,4.0,"POLYGON ((-86.64007 36.07600, -86.63956 36.075...",Antioch Middle School,1.0,2.0,4.0,1,Cane Ridge High School,1.0,0.0,3.0
9,Cole Elementary School,2.0,2.0,4.0,"POLYGON ((-86.70404 36.04982, -86.70405 36.049...",Antioch Middle School,1.0,2.0,4.0,1,Cane Ridge High School,1.0,0.0,3.0
15,Eagle View Elementary School,NaN,4.0,NaN,"POLYGON ((-86.65114 36.07064, -86.65102 36.070...",Antioch Middle School,1.0,2.0,4.0,1,Cane Ridge High School,1.0,0.0,3.0
17,Edison Elementary School,2.0,4.0,4.0,"POLYGON ((-86.61819 36.07339, -86.61794 36.073...",Antioch Middle School,1.0,2.0,4.0,1,Cane Ridge High School,1.0,0.0,3.0

In [25]:
schools = schools.rename(columns={'school': 'high_school', 
                                          'achievement_score': 'high_achievement_score',
                                          'growth_score': 'high_growth_score',
                                          'chronically_out_of_school_score': 'high_chronically_out_of_school_score'})

schools = schools[schools.columns.drop('index_right')]

schools.head()

,elem_school,elem_achievement_score,elem_growth_score,elem_chronically_out_of_school_score,geometry,middle_school,middle_achievement_score,middle_growth_score,middle_chronically_out_of_school_score,high_school,high_achievement_score,high_growth_score,high_chronically_out_of_school_score
0,A. Z. Kelley Elementary School,2.0,2.0,4.0,"POLYGON ((-86.66919 36.05125, -86.66714 36.050...",Antioch Middle School,1.0,2.0,4.0,Cane Ridge High School,1.0,0.0,3.0
5,Cane Ridge Elementary School,3.0,4.0,4.0,"POLYGON ((-86.64007 36.07600, -86.63956 36.075...",Antioch Middle School,1.0,2.0,4.0,Cane Ridge High School,1.0,0.0,3.0
9,Cole Elementary School,2.0,2.0,4.0,"POLYGON ((-86.70404 36.04982, -86.70405 36.049...",Antioch Middle School,1.0,2.0,4.0,Cane Ridge High School,1.0,0.0,3.0
15,Eagle View Elementary School,NaN,4.0,NaN,"POLYGON ((-86.65114 36.07064, -86.65102 36.070...",Antioch Middle School,1.0,2.0,4.0,Cane Ridge High School,1.0,0.0,3.0
17,Edison Elementary School,2.0,4.0,4.0,"POLYGON ((-86.61819 36.07339, -86.61794 36.073...",Antioch Middle School,1.0,2.0,4.0,Cane Ridge High School,1.0,0.0,3.0

In [26]:
schools.shape

(831, 13)

In [27]:
# schools_gdf = gpd.GeoDataFrame(schools, geometry='geometry')
# schools_gdf.to_file('../data/final_data/schools_gdf.geojson', driver = 'GeoJSON')

In [28]:
per_cap_race = gpd.sjoin(per_cap, race, op = 'within')
per_cap_race.head(2)

,census_block_group_left,income_per_cap,state_left,county_left,geometry,index_right,census_block_group_right,total_block_pop,white,black,...,other,more_than_one_race,hispanic,hispanic - white,%white,%black,%hisp,%non-white,state_right,county_right
0,470370101031,35527.0,TN,Davidson County,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ...",0,470370101031,937,918,0,...,10,9,0,0,0.979723,0.000000,0.000000,0.020277,TN,Davidson County
1,470370101032,30055.0,TN,Davidson County,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ...",1,470370101032,1690,1504,144,...,0,37,39,39,0.889941,0.085207,0.023077,0.133136,TN,Davidson County

In [29]:
for col in per_cap_race.columns: 
    print(col)

census_block_group_left
income_per_cap
state_left
county_left
geometry
index_right
census_block_group_right
total_block_pop
white
black
native_american_/_alaskan_native
asian
pacific_islander_/_native_hawaiian
other
more_than_one_race
hispanic
hispanic - white
%white
%black
%hisp
%non-white
state_right
county_right

In [30]:
per_cap_race = per_cap_race[['census_block_group_left', 
                             'income_per_cap', 
                             'geometry', 
                             'total_block_pop', 
                             'white', 
                             'black', 
                             'native_american_/_alaskan_native',
                             'asian',
                             'pacific_islander_/_native_hawaiian',
                             'other',
                             'more_than_one_race',
                             'hispanic',
                             '%white',
                             '%black',
                             '%hisp',
                             '%non-white']]

per_cap_race = per_cap_race.rename(columns={'census_block_group_left': 'census_block_group', 
                                          'native_american_/_alaskan_native': 'nat_american_nat_alaskan',
                                          'pacific_islander_/_native_hawaiian': 'pac_islander_nat_hawaiian'})

per_cap_race.shape

(473, 16)

In [31]:
per_cap_race.tail()

,census_block_group,income_per_cap,geometry,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,more_than_one_race,hispanic,%white,%black,%hisp,%non-white
468,470370195004,29019.0,"MULTIPOLYGON (((-86.78435 36.16964, -86.78406 ...",1498,745,581,11,27,0,63,71,142,0.497330,0.387850,0.094793,0.555407
469,470370196001,25060.0,"MULTIPOLYGON (((-86.71571 36.14706, -86.71563 ...",1722,1081,519,0,9,0,83,30,387,0.627758,0.301394,0.224739,0.548780
470,470370196002,31142.0,"MULTIPOLYGON (((-86.76398 36.15376, -86.76368 ...",2494,1909,304,0,28,0,96,157,687,0.765437,0.121893,0.275461,0.428629
471,470379801001,NaN,"MULTIPOLYGON (((-86.70035 36.11833, -86.70019 ...",0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
472,470379802001,NaN,"MULTIPOLYGON (((-86.77105 36.11113, -86.77099 ...",0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [32]:
demog = gpd.sjoin(per_cap_race, income, op = 'within')
demog.head(2)

,census_block_group_left,income_per_cap,geometry,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,...,"hh_income_45,000-49,999","hh_income_50,000-59,999","hh_income_60,000-74,999","hh_income_75,000-99,999","hh_income_100,000-124,999","hh_income_125,000-149,999","hh_income_150,000-199,999","hh_income_200,000+",state,county
0,470370101031,35527.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ...",937,918,0,0,0,0,10,...,10,35,76,67,21,17,9,41,TN,Davidson County
1,470370101032,30055.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ...",1690,1504,144,5,0,0,0,...,19,62,75,116,64,69,17,29,TN,Davidson County

In [33]:
for col in demog.columns: 
    print(col)

census_block_group_left
income_per_cap
geometry
total_block_pop
white
black
nat_american_nat_alaskan
asian
pac_islander_nat_hawaiian
other
more_than_one_race
hispanic
%white
%black
%hisp
%non-white
index_right
census_block_group_right
hh_income_<10,000
hh_income_10,000-14,999
hh_income_15,000-19,999
hh_income_20,000-24,999
hh_income_25,000-29,999
hh_income_30,000-34,999
hh_income_35,000-39,999
hh_income_40,000-44,999
hh_income_45,000-49,999
hh_income_50,000-59,999
hh_income_60,000-74,999
hh_income_75,000-99,999
hh_income_100,000-124,999
hh_income_125,000-149,999
hh_income_150,000-199,999
hh_income_200,000+
state
county

In [38]:
demog = demog.rename(columns={'school_left': 'elem_school', 'census_block_group_left': 'census_block_group'})

demog = demog[demog.columns.drop('index_right', 'index_left')]

demog.head()

,census_block_group,income_per_cap,geometry,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,...,"hh_income_45,000-49,999","hh_income_50,000-59,999","hh_income_60,000-74,999","hh_income_75,000-99,999","hh_income_100,000-124,999","hh_income_125,000-149,999","hh_income_150,000-199,999","hh_income_200,000+",state,county
0,470370101031,35527.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ...",937,918,0,0,0,0,10,...,10,35,76,67,21,17,9,41,TN,Davidson County
1,470370101032,30055.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ...",1690,1504,144,5,0,0,0,...,19,62,75,116,64,69,17,29,TN,Davidson County
2,470370101041,33533.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ...",1442,1134,209,11,0,23,11,...,22,38,81,92,38,60,29,14,TN,Davidson County
3,470370101042,28406.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ...",1379,1370,9,0,0,0,0,...,12,20,66,52,140,17,6,12,TN,Davidson County
4,470370101051,27498.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ...",663,351,279,12,0,0,14,...,24,52,16,47,17,17,13,0,TN,Davidson County

In [39]:
demog.shape

(473, 34)

In [43]:
# demog = gpd.GeoDataFrame(demog, geometry='geometry')
# demog.to_file('../data/final_data/demog_gdf.geojson', driver = 'GeoJSON')

In [40]:
elementary = gpd.sjoin(demog, elem, op = 'intersects')
elementary.shape

(1053, 39)

In [41]:
elementary.head()

,census_block_group,income_per_cap,geometry,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,...,"hh_income_125,000-149,999","hh_income_150,000-199,999","hh_income_200,000+",state,county,index_right,school,achievement_score,growth_score,chronically_out_of_school_score
0,470370101031,35527.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ...",937,918,0,0,0,0,10,...,17,9,41,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0
1,470370101032,30055.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ...",1690,1504,144,5,0,0,0,...,69,17,29,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0
2,470370101041,33533.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ...",1442,1134,209,11,0,23,11,...,60,29,14,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0
3,470370101042,28406.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ...",1379,1370,9,0,0,0,0,...,17,6,12,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0
4,470370101051,27498.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ...",663,351,279,12,0,0,14,...,17,13,0,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0

In [42]:
# elementary_gdf = gpd.GeoDataFrame(elementary, geometry='geometry')
# elementary_gdf.to_file('../data/final_data/elementary_gdf.geojson', driver = 'GeoJSON')

In [44]:
elementary.corr()

,income_per_cap,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,more_than_one_race,hispanic,...,"hh_income_60,000-74,999","hh_income_75,000-99,999","hh_income_100,000-124,999","hh_income_125,000-149,999","hh_income_150,000-199,999","hh_income_200,000+",index_right,achievement_score,growth_score,chronically_out_of_school_score
income_per_cap,1.000000,-0.044563,0.216179,-0.385489,-0.019672,0.019382,-0.057106,-0.264411,-0.113287,-0.297409,...,0.024026,0.114077,0.217978,0.308413,0.375328,0.767999,0.118048,0.407191,-0.130633,0.093377
total_block_pop,-0.044563,1.000000,0.861723,0.579281,0.069572,0.592248,0.004586,0.230409,0.498189,0.433840,...,0.808986,0.780644,0.774703,0.608443,0.661942,0.345336,-0.052007,0.012775,0.033722,0.036901
white,0.216179,0.861723,1.000000,0.114937,0.029203,0.520694,-0.026563,0.056592,0.358876,0.325559,...,0.769448,0.809784,0.829418,0.705726,0.762510,0.529854,0.028704,0.155586,0.002706,0.043782
black,-0.385489,0.579281,0.114937,1.000000,0.057786,0.167918,0.025504,0.157100,0.287864,0.172736,...,0.391638,0.264198,0.242598,0.115481,0.112097,-0.133669,-0.137719,-0.221408,0.036253,0.011490
nat_american_nat_alaskan,-0.019672,0.069572,0.029203,0.057786,1.000000,0.025037,0.003361,0.028655,-0.003074,0.041960,...,0.056107,0.106947,0.018445,0.087771,-0.020948,-0.048148,-0.031239,-0.014201,0.032969,0.027389
asian,0.019382,0.592248,0.520694,0.167918,0.025037,1.000000,0.063321,0.114899,0.396573,0.313677,...,0.435619,0.487541,0.458085,0.364073,0.454403,0.268057,-0.037276,0.109285,0.057527,0.065792
pac_islander_nat_hawaiian,-0.057106,0.004586,-0.026563,0.025504,0.003361,0.063321,1.000000,-0.013184,0.038230,-0.013266,...,-0.024381,-0.023566,-0.043106,-0.023293,-0.046454,-0.038698,0.035021,0.010579,0.030009,-0.016552
other,-0.264411,0.230409,0.056592,0.157100,0.028655,0.114899,-0.013184,1.000000,0.182616,0.717289,...,0.071204,-0.003277,-0.027552,-0.107992,-0.046698,-0.155013,-0.050586,-0.144315,0.079824,-0.065643
more_than_one_race,-0.113287,0.498189,0.358876,0.287864,-0.003074,0.396573,0.038230,0.182616,1.000000,0.306652,...,0.347442,0.349075,0.272109,0.223355,0.221348,0.102773,-0.047679,-0.021879,0.020609,-0.029206
hispanic,-0.297409,0.433840,0.325559,0.172736,0.041960,0.313677,-0.013266,0.717289,0.306652,1.000000,...,0.263561,0.180633,0.133894,0.050211,0.088174,-0.113623,-0.041811,-0.140350,0.086453,-0.004307
%white,0.561430,-0.066640,0.386329,-0.714193,-0.021007,-0.010136,-0.035927,-0.214529,-0.136136,-0.072213,...,0.059333,0.183270,0.182270,0.239516,0.252016,0.380953,0.111045,0.327230,-0.053423,0.013068
%black,-0.488511,0.020122,-0.395632,0.725860,-0.020739,-0.138771,0.012085,-0.015214,0.014448,-0.100204,...,-0.063300,-0.185685,-0.165405,-0.219327,-0.241329,-0.347309,-0.090926,-0.304143,0.013971,-0.001931
%hisp,-0.329127,0.068716,0.035904,-0.059806,0.018891,0.072932,-0.023287,0.584440,0.081164,0.841549,...,-0.026193,-0.077971,-0.126272,-0.156475,-0.124634,-0.220381,-0.045785,-0.185440,0.097443,-0.020444
%non-white,-0.637299,0.083546,-0.343010,0.656604,0.022228,0.042547,0.026721,0.287802,0.144186,0.334598,...,-0.058208,-0.190787,-0.211705,-0.270404,-0.276870,-0.432930,-0.121035,-0.361999,0.076377,-0.001727
"hh_income_<10,000",-0.247135,0.309118,0.065145,0.462209,-0.026690,0.232122,0.219048,0.172640,0.269253,0.173069,...,0.136378,0.066181,0.047689,-0.019163,0.015018,-0.066945,-0.020838,-0.077684,0.044284,0.007291
"hh_income_10,000-14,999",-0.283850,0.373236,0.162023,0.433111,-0.016137,0.187051,0.073106,0.278180,0.294227,0.302742,...,0.224243,0.157802,0.068990,0.010733,-0.012832,-0.126551,-0.015894,-0.130503,0.035719,-0.027408
"hh_income_15,000-19,999",-0.319982,0.344535,0.073188,0.521011,0.035911,0.090477,0.067034,0.310820,0.362172,0.330696,...,0.146412,0.069555,0.009424,-0.043101,-0.013488,-0.188094,-0.055391,-0.180216,0.015738,-0.007414
"hh_income_20,000-24,999",-0.275420,0.488821,0.297183,0.432683,0.033297,0.268960,0.030698,0.319897,0.367576,0.357383,...,0.326293,0.230202,0.265664,0.072026,0.164633,-0.043868,-0.049020,-0.137981,0.029660,-0.038151
"hh_income_25,000-29,999",-0.232016,0.399670,0.244883,0.331614,0.165174,0.243867,0.061427,0.295900,0.302924,0.397765,...,0.236796,0.176962,0.094403,0.061162,0.073299,-0.073701,-0.016509,-0.089220,0.032392,0.009499
"hh_income_30,000-34,999",-0.147131,0.411953,0.289153,0.331198,0.002412,0.128775,-0.004727,0.263960,0.267384,0.298973,...,0.289783,0.173608,0.155034,0.068568,0.186303,-0.070271,-0.039213,-0.061775,0.043732,-0.041720
"hh_income_35,000-39,999",-0.113612,0.568547,0.483565,0.368904,-0.028611,0.229597,-0.030667,0.164412,0.203647,0.257908,...,0.531683,0.474522,0.427547,0.236113,0.281095,0.097126,-0.029886,-0.063402,0.046022,-0.005977
"hh_income_40,000-44,999",-0.078729,0.614283,0.498398,0.395710,0.184323,0.362782,-0.028608,0.146597,0.353511,0.302778,...,0.565755,0.501307,0.402997,0.323117,0.294374,0.065231,-0.032309,-0.018024,0.037344,0.015347
"hh_income_45,000-49,999",-0.129608,0.597206,0.483504,0.371024,0.044002,0.364706,-0.003342,0.193970,0.402949,0.322603,...,0.516493,0.453966,0.385916,0.283586,0.335728,0.060887,-0.061039,-0.041544,0.046920,-0.062258
"hh_income_50,000-59,999",-0.012238,0.637420,0.599445,0.302720,0.044890,0.339097,-0.008817,0.103153,0.346465,0.276394,...,0.552649,0.533339,0.486571,0.437345,0.346652,0.110849,-0.018544,-0.010257,0.022996,-0.006440
"hh_income_60,000-74,999",0.024026,0.808986,0.769448,0.391638,0.056107,0.435619,-0.024381,0.071204,0.347442,0.263561,...,1.000000,0.752004,0.731206,0.542973,0.556446,0.277586,-0.040878,0.006869,-0.000328,0.017367
"hh_income_75,000-99,999",0.114077,0.780644,0.809784,0.264198,0.106947,0.487541,-0.023566,-0.003277,0.349075,0.180633,...,0.752004,1.000000,0.717984,0.641055,0.579594,0.331528,0.011246,0.067414,0.000336,0.026586
"hh_income_100,000-124,999",0.217978,0.774703,0.829418,0.242598,0.018445,0.458085,-0.043106,-0.027552,0.272109,0.133894,...,0.731206,0.717984,1.000000,0.664048,0.751028,0.520776,0.003677,0.126381,-0.004867,0.041250
"hh_income_125,000-149,999",0.308413,0.608443,0.705726,0.115481,0.087771,0.364073,-0.023293,-0.107992,0.223355,0.050211,...,0.542973,0.641055,0.664048,1.000000,0.645583,0.485367,0.055351,0.171125,-0.048030,0.079517
"hh_income_150,000-199,999",0.375328,0.661942,0.762510,0.112097,-0.020948,0.454403,-0.046454,-0.046698,0.221348,0.088174,...,0.556446,0.579594,0.751028,0.645583,1.000000,0.628710,0.002559,0.216478,-0.021209,0.060291
"hh_income_200,000+",0.767999,0.345336,0.529854,-0.133669,-0.048148,0.268057,-0.038698,-0.155013,0.102773,-0.113623,...,0.277586,0.331528,0.520776,0.485367,0.628710,1.000000,0.080635,0.349579,-0.080614,0.120264
index_right,0.118048,-0.052007,0.028704,-0.137719,-0.031239,-0.037276,0.035021,-0.050586,-0.047679,-0.041811,...,-0.040878,0.011246,0.003677,0.055351,0.002559,0.080635,1.000000,0.084332,0.082294,-0.110346
achievement_score,0.407191,0.012775,0.155586,-0.221408,-0.014201,0.109285,0.010579,-0.144315,-0.021879,-0.140350,...,0.006869,0.067414,0.126381,0.171125,0.216478,0.349579,0.084332,1.000000,0.218626,0.114952
growth_score,-0.130633,0.033722,0.002706,0.036253,0.032969,0.057527,0.030009,0.079824,0.020609,0.086453,...,-0.000328,0.000336,-0.004867,-0.048030,-0.021209,-0.080614,0.082294,0.218626,1.000000,-0.228703
chronically_out_of_school_score,0.093377,0.036901,0.043782,0.011490,0.027389,0.065792,-0.016552,-0.065643,-0.029206,-0.004307,...,0.017367,0.026586,0.041250,0.079517,0.060291,0.120264,-0.110346,0.114952,-0.228703,1.000000

In [51]:
middle = gpd.sjoin(demog, middle, op = 'intersects')
middle.shape

C:\Users\amand\anaconda3\envs\geospatial\lib\site-packages\geopandas\tools\sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != epsg:4326)
  "(%s != %s)" % (left_df.crs, right_df.crs)

(837, 39)

In [52]:
middle.head()

,census_block_group,income_per_cap,geometry,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,...,"hh_income_125,000-149,999","hh_income_150,000-199,999","hh_income_200,000+",state,county,index_right,school,achievement_score,growth_score,chronically_out_of_school_score
0,470370101031,35527.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ...",937,918,0,0,0,0,10,...,17,9,41,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0
1,470370101032,30055.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ...",1690,1504,144,5,0,0,0,...,69,17,29,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0
2,470370101041,33533.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ...",1442,1134,209,11,0,23,11,...,60,29,14,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0
3,470370101042,28406.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ...",1379,1370,9,0,0,0,0,...,17,6,12,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0
4,470370101051,27498.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ...",663,351,279,12,0,0,14,...,17,13,0,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0

In [53]:
# middle_gdf = gpd.GeoDataFrame(middle, geometry='geometry')
# middle_gdf.to_file('../data/final_data/middle_gdf.geojson', driver = 'GeoJSON')

In [55]:
high= gpd.sjoin(demog, high, op = 'intersects')
high.shape

C:\Users\amand\anaconda3\envs\geospatial\lib\site-packages\geopandas\tools\sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != epsg:4326)
  "(%s != %s)" % (left_df.crs, right_df.crs)

(672, 39)

In [56]:
high.head()

,census_block_group,income_per_cap,geometry,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,...,"hh_income_125,000-149,999","hh_income_150,000-199,999","hh_income_200,000+",state,county,index_right,school,achievement_score,growth_score,chronically_out_of_school_score
0,470370101031,35527.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ...",937,918,0,0,0,0,10,...,17,9,41,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0
1,470370101032,30055.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ...",1690,1504,144,5,0,0,0,...,69,17,29,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0
2,470370101041,33533.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ...",1442,1134,209,11,0,23,11,...,60,29,14,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0
3,470370101042,28406.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ...",1379,1370,9,0,0,0,0,...,17,6,12,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0
4,470370101051,27498.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ...",663,351,279,12,0,0,14,...,17,13,0,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0

In [57]:
# high_gdf = gpd.GeoDataFrame(high, geometry='geometry')
# high_gdf.to_file('../data/final_data/high_gdf.geojson', driver = 'GeoJSON')