In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

%matplotlib inline

In [2]:
elem = gpd.read_file('../data/final_data/elementary_gdf.geojson')
middle = gpd.read_file('../data/final_data/middle_gdf.geojson')
high = gpd.read_file('../data/final_data/high_gdf.geojson')

In [3]:
elem.head()

,census_block_group,income_per_cap,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,more_than_one_race,...,"hh_income_150,000-199,999","hh_income_200,000+",state,county,index_right,school,achievement_score,growth_score,chronically_out_of_school_score,geometry
0,470370101031,35527.0,937,918,0,0,0,0,10,9,...,9,41,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
1,470370101032,30055.0,1690,1504,144,5,0,0,0,37,...,17,29,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ..."
2,470370101041,33533.0,1442,1134,209,11,0,23,11,54,...,29,14,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ..."
3,470370101042,28406.0,1379,1370,9,0,0,0,0,0,...,6,12,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."
4,470370101051,27498.0,663,351,279,12,0,0,14,7,...,13,0,TN,Davidson County,35,Joelton Elementary,3.0,0.0,3.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ..."

In [4]:
middle.head()

,census_block_group,income_per_cap,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,more_than_one_race,...,"hh_income_150,000-199,999","hh_income_200,000+",state,county,index_right,school,achievement_score,growth_score,chronically_out_of_school_score,geometry
0,470370101031,35527.0,937,918,0,0,0,0,10,9,...,9,41,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
1,470370101032,30055.0,1690,1504,144,5,0,0,0,37,...,17,29,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ..."
2,470370101041,33533.0,1442,1134,209,11,0,23,11,54,...,29,14,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ..."
3,470370101042,28406.0,1379,1370,9,0,0,0,0,0,...,6,12,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."
4,470370101051,27498.0,663,351,279,12,0,0,14,7,...,13,0,TN,Davidson County,11,Haynes Middle School,2.0,1.0,3.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ..."

In [5]:
high.head()

,census_block_group,income_per_cap,total_block_pop,white,black,nat_american_nat_alaskan,asian,pac_islander_nat_hawaiian,other,more_than_one_race,...,"hh_income_150,000-199,999","hh_income_200,000+",state,county,index_right,school,achievement_score,growth_score,chronically_out_of_school_score,geometry
0,470370101031,35527.0,937,918,0,0,0,0,10,9,...,9,41,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
1,470370101032,30055.0,1690,1504,144,5,0,0,0,37,...,17,29,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0,"MULTIPOLYGON (((-86.88288 36.35786, -86.88219 ..."
2,470370101041,33533.0,1442,1134,209,11,0,23,11,54,...,29,14,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0,"MULTIPOLYGON (((-86.89607 36.28446, -86.89606 ..."
3,470370101042,28406.0,1379,1370,9,0,0,0,0,0,...,6,12,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."
4,470370101051,27498.0,663,351,279,12,0,0,14,7,...,13,0,TN,Davidson County,11,Whites Creek High School,0.0,0.0,2.0,"MULTIPOLYGON (((-86.87347 36.27968, -86.87345 ..."