In [1]:
import pandas as pd
import geopandas as gpd

In [3]:
school_scores = pd.read_csv('../data/201819_school_indicator_scores.csv')

In [4]:
school_scores.head()

,DISTRICT_ID,DISTRICT,SCHOOL_ID,SCHOOL,POOL,STUDENT_GROUP,ACHIEVEMENT_SCORE,GROWTH_SCORE,CHRONICALLY_OUT_OF_SCHOOL_SCORE,PROGRESS_ON_EL_PROFICIENCY_SCORE,READY_GRADUATE_SCORE,GRADUATION_RATE_SCORE
0,10,Anderson County,5,Andersonville Elementary,K8,All Students,4.0,4.0,4.0,NaN,NaN,NaN
1,10,Anderson County,5,Andersonville Elementary,K8,Economically Disadvantaged,4.0,3.0,4.0,NaN,NaN,NaN
2,10,Anderson County,5,Andersonville Elementary,K8,Subgroups,4.0,2.5,2.5,NaN,NaN,NaN
3,10,Anderson County,5,Andersonville Elementary,K8,Super Subgroup,4.0,4.0,NaN,NaN,NaN,NaN
4,10,Anderson County,5,Andersonville Elementary,K8,White,4.0,4.0,4.0,NaN,NaN,NaN

In [12]:
davidson = school_scores.loc[school_scores['DISTRICT'] == 'Davidson County']
davidson.shape

(1832, 12)

In [16]:
davidson.head()

,DISTRICT_ID,DISTRICT,SCHOOL_ID,SCHOOL,POOL,STUDENT_GROUP,ACHIEVEMENT_SCORE,GROWTH_SCORE,CHRONICALLY_OUT_OF_SCHOOL_SCORE,PROGRESS_ON_EL_PROFICIENCY_SCORE,READY_GRADUATE_SCORE,GRADUATION_RATE_SCORE
167,190,Davidson County,40,Bellevue Middle,K8,Asian,4.0,0.0,4.0,NaN,NaN,NaN
168,190,Davidson County,53,Nashville Big Picture High School,K8,Economically Disadvantaged,4.0,1.0,2.0,NaN,NaN,NaN
169,190,Davidson County,82,Cane Ridge Elementary,K8,Black/Hispanic/Native American,4.0,4.0,4.0,3.0,NaN,NaN
170,190,Davidson County,82,Cane Ridge Elementary,K8,Hispanic,4.0,3.0,3.0,3.0,NaN,NaN
171,190,Davidson County,145,Crieve Hall Elementary,K8,All Students,4.0,3.0,4.0,4.0,NaN,NaN

In [15]:
davidson['SCHOOL'].nunique()

155

In [17]:
davidson_all = davidson.loc[davidson['STUDENT_GROUP'] == 'All Students']
davidson_all.shape

(155, 12)

In [20]:
davidson['POOL'].unique()

array(['K8', 'HS'], dtype=object)

In [22]:
davidson_all.head()

,DISTRICT_ID,DISTRICT,SCHOOL_ID,SCHOOL,POOL,STUDENT_GROUP,ACHIEVEMENT_SCORE,GROWTH_SCORE,CHRONICALLY_OUT_OF_SCHOOL_SCORE,PROGRESS_ON_EL_PROFICIENCY_SCORE,READY_GRADUATE_SCORE,GRADUATION_RATE_SCORE
171,190,Davidson County,145,Crieve Hall Elementary,K8,All Students,4.0,3.0,4.0,4.0,NaN,NaN
173,190,Davidson County,160,Dan Mills Elementary,K8,All Students,4.0,4.0,3.0,3.0,NaN,NaN
175,190,Davidson County,195,Eakin Elementary,K8,All Students,4.0,4.0,4.0,4.0,NaN,NaN
179,190,Davidson County,250,Glendale Elementary,K8,All Students,4.0,4.0,4.0,NaN,NaN,NaN
185,190,Davidson County,290,Granbery Elementary,K8,All Students,4.0,4.0,3.0,3.0,NaN,NaN

In [24]:
davidson_all = davidson_all[['SCHOOL',
                             'POOL',
                               'ACHIEVEMENT_SCORE',
                               'GROWTH_SCORE',
                               'CHRONICALLY_OUT_OF_SCHOOL_SCORE']]

davidson_all.head()

,SCHOOL,POOL,ACHIEVEMENT_SCORE,GROWTH_SCORE,CHRONICALLY_OUT_OF_SCHOOL_SCORE
171,Crieve Hall Elementary,K8,4.0,3.0,4.0
173,Dan Mills Elementary,K8,4.0,4.0,3.0
175,Eakin Elementary,K8,4.0,4.0,4.0
179,Glendale Elementary,K8,4.0,4.0,4.0
185,Granbery Elementary,K8,4.0,4.0,3.0

In [29]:
davidson_all.to_csv('../data/final_data/davidson_scores.csv')